<div class="container-lg">
    <div class="row">
        <div class="col-sm-8 mx-2">
            <img src="@Model.Img" height="500" />
            <br />
            <text>Цена:@Model.Price</text>
            <br />
            @Model.LongDesc
            <br />
        </div>
        <div class="col-sm-4">
            <a asp-controller="Cart" asp-action="AddToCart" data-ajax="true" data-ajax-method="post" asp-route-id="@Model.Id">
                В корзину
            </a>
            <br />
            @if (Static.IAdmin)
             {
                 <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">
                       Изменить
                 </a><br />
                 <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id">
                            Удалить
                 </a>
             }
        </div>
    </div>
</div>
