@{ ViewData["Title"] = "Изменение продукта"; }
<form method="post" asp-action="Editt" asp-controller="Product" asp-route-id="@Model.Id">
    <label>Название</label>
    <input type="text" name="Name" value="@Model.Name" /><br />
    <label>Цена</label>
    <input type="number" name="Price" value="@Model.Price" /><br />
    <label>Описание</label>
    <textarea name="LongDesc" style="resize:both">@Model.LongDesc</textarea><br />
    <select name="CategoryId">
        @foreach(var item in Model.Categories)
            {
                <option value="@item.Id">@item.CategoryName</option>
            }
    </select>
    <input type="hidden" name="Img" value="@Model.Img" />
    <input type="hidden" name="IsFavorite" value="@Model.IsFavorite" />
    <input type="submit" /><br />
</form>